<% if flash.has?(:message) %>
<%= flash[:message] %>
<% end %>

<h3>All Actions to date:</h3>

<% @actions.each do |action| %>
<p>
  <ul>
    <li>Action #<%= action.id %></li>
    <li>Action Name:<%= action.action_name %></li>
    <li>Action created by User #<%= action.user_id %></li>
    <li>Action Status: <%= action.status %></li>
</p>
  </ul>
<% end %>

<h5><a href="/users">Return to menu</a></h5>
