<% if flash.has?(:message) %>
<%= flash[:message] %>
<% end %>

<h3>Username: <%= @user.username %></h3>
<h3>User ID: <%= @user.id %></h3>
<h4>These are your actions to date. Click on an action to edit or delete.</h4>

<% @user.actions.each do |action| %>
<p>
  <ul>
    <li><a href="/actions/<%= action.id %>">Action #<%= action.id %></a></li>
    <li>Action Name: <%= action.action_name %></li>
    <li>Action Status: <%= action.status %></li>
  </ul>
</p>
<% end %>
